.row
  .col-md-3
    = render 'shared/admin_menu'
  .col-md-9
    %h3.page-header
      Editing website
      .pull-right= link_to '< Back', website_path, class: 'btn btn-link'

    .row
      .col-md-8
        = form_for(@website) do |f|
          - if @website.errors.any?
            %div
              %h2.alert.alert-danger
                - pluralize(@website.errors.count, 'errors')
                Prohibited from being saved:
              %ul#error_listing
                - @website.errors.full_messages.each do |msg|
                  %li= msg

          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control'

          .form-group
            = f.label :subdomain
            = f.text_field :subdomain, class: 'form-control'

          .form-group
            = f.submit class: 'btn btn-primary'
