.row
  .col-md-3
    = render 'shared/admin_menu'
  .col-md-9
    %h3.page-header
      Websites
      .pull-right
        = link_to 'Add Website', new_website_path, class: 'btn btn-link'

    .row
      .col-md-12
        - if @websites.present?
          %table.table
            %tr.info
              %th Website name
              %th Sub Domain
              %th
            - @websites.each do |website|
              %tr
                %td= link_to website.name, website_path(website)
                %td= website.subdomain
                %td
                  = link_to edit_website_path(website), class: 'btn btn-primary btn-sm' do
                    = fa_icon 'pencil'
                  = link_to website_path(website), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' do
                    = fa_icon 'trash'
          .center
            = paginate @websites

        - else
          No websites present.
