.row
  .col-md-3
    = render 'shared/admin_menu'
  .col-md-9
    %h1 Create new website
.row
  .col-md-3
  .col-md-9
    = form_for :website, url: websites_path do |f|
      %table
        %tr
          %td= f.label :name
          %td= f.text_field :name, required: true
        %tr
          %td= f.label :subdomain
          %td= f.text_field :subdomain, required: true
        %tr
          %td= f.submit
    %br
    = link_to 'Back', websites_path, class: 'btn btn-primary'
