.row
  .col-md-3
    = render 'shared/admin_menu'
  .col-md-9
    %h3.page-header
      = @website.name
      .pull-right
        = link_to 'View Website', sites_path, class: 'btn btn-link', target: '_blank'
        = link_to 'Edit', edit_website_path, class: 'btn btn-link'
        = link_to '< Back', websites_path, class: 'btn btn-link'

    .row
      .col-md-6.form-group= "Subdomain: #{@website.subdomain}"
      .col-md-6.form-group
        .pull-right= "Created at: #{@website.created_at}"

    .row
      .col-md-6
        %h4.page-header
          Menus
          .pull-right= link_to 'Create Menu', new_website_menu_path(@website), class: 'btn btn-link'

        .form-group
          - if @website.menus.present?
            .list-group
              - @website.menus.each do |menu|
                %li.list-group-item
                  = link_to menu.name, website_menu_path(@website, menu)
                  .pull-right= link_to 'Delete', website_menu_path(@website, menu), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link'
                  .pull-right= link_to 'Edit', edit_website_menu_path(@website, menu), class: 'btn btn-link'
          - else
            No menu available.

      .col-md-6
        %h4.page-header
          Pages
          .pull-right= link_to 'Create Page', new_website_page_path(@website), class: 'btn btn-link'

        .form-group
          - if @website.pages.present?
            .list-group
              - @website.pages.each do |page|
                %li.list-group-item
                  = link_to page.name, website_page_path(@website, page)
                  .pull-right= link_to 'Delete', website_page_path(@website, page), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link'
                  .pull-right= link_to 'Edit', edit_website_page_path(@website, page), class: 'btn btn-link'
          - else
            No pages available.
