%nav.navbar.navbar-default.bg-faded.rounded.navbar-toggleable-md
  = link_to 'ResFrame', root_url, class: 'navbar-brand'

  .collapse.navbar-collapse
    .pull-right
      %ul.nav.navbar-nav
        %li.nav-item
          = link_to 'Contact', contact_url, class: 'nav-link'

        - if user_signed_in?
          %li.nav-item
            = link_to 'Admin', dashboard_url, class: 'nav-link'
          %li.nav-item
            = link_to current_user.email, 'javascript:void(0);'
          %li.nav-item
            = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'
