= form_for([@website, @page]) do |f|
  - if @page.errors.any?
    %div#error_explanation
      %h2.alert.alert-danger
        = pluralize(@page.errors.count, 'error')
        Prohibited from being saved:
      %ul#error_listing
        - @page.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.submit class: 'btn btn-primary'
