.row
  .col-md-3
    = render 'shared/admin_menu'
  .col-md-7
    %h1
      Pages List
      = link_to 'View Website', sites_path, class: 'btn btn-danger', style: 'margin-left: 50px'
      .pull-right
        = link_to 'Add Page', new_page_path, class: 'btn btn-primary'
    - if @pages.present?
      %table.table
        %tr
          %th Page name
          %th
        - @pages.each do |page|
          %tr
            %td= page.name
            %td
              = link_to edit_page_path(page), class: 'btn btn-primary btn-sm' do
                = fa_icon 'pencil'
              = link_to page_path(page), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' do
                = fa_icon 'trash'
    - else
      No page present.

    %p
      = link_to 'Back', websites_path, class: 'btn btn-primary'

  .col-md-2
    = render 'shared/website_setting'
